# Environments
.venv/
env/
venv/
.env

# Python junk
__pycache__/
*.py[cod]

# Large Model Files (They stay on Hugging Face, not Git)
models/
outputs/
*.safetensors
*.bin
*.pth

# IDE
.vscode/
.idea/
.DS_Store